


<div class="container mt-5 " >


  <section class="section dashboard mx-auto">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Top Selling -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">



              <div class="card-body pb-0">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h5 class="card-title">Product List</h5>

                  <!-- Add your button here -->
                  <button (click)="handleNewProduct()"  class="btn btn-primary">New Product</button>
                </div>

                <table class="table table-borderless" *ngIf="Products">
                  <thead>
                  <tr>
                    <th scope="col">Preview</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Status</th>



                  </tr>
                  </thead>
                  <tbody>

                  <tr *ngFor="let p of Products">
                    <th scope="row">
                      <img src={{p.imageUrl}} alt="">
                    </th>
                    <td><a class="text-primary fw-bold">{{p.nom}}</a></td>
                    <td>{{p.price}}</td>
                    <td>{{p.quantity}}</td>

                    <td>
                      <br>
                      <button (click)="handleDeleteProduct(p)" class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i>
                      </button>

                      <!-- Add margin between the buttons -->
                      <span style="margin-right: 10px;"></span>

                      <button (click)="handleUpdateProduct(p)" class="btn btn-outline-success">
                        <i class="bi bi-pencil"></i>
                      </button>
                    </td>

                  </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Top Selling -->




        </div>
      </div><!-- End Left side columns -->


    </div>
  </section>

</div>



